* {
    box-sizing: border-box;
}

:root {
    --header-bgc: #10375c;
    --hero-bgc: #10375c;
    --services-bgc: #fff;
    --work-bgc: #f6fbff;
    --about-bgc: #fff;
    --members-bgc: #fff;
    --app-bgc: #fff;
    --news-bgc: #fff;
    --appointment-bgc: #fff;
    --footer-bgc: #10375c;

    --btn-bgc: #2e80ce;

    --header-text-color: #c9d2da;
    --hero-heading-color: #fff;
    --hero-desc-color: #c9d2da;
    --heading-color: #10375c;
    --desc-color: #575f66;
}

html {
    font-size: 62.5%;
}

body {
    height: 10000px;
    font-size: 1.6rem;
    font-family: "Sora";
}

/* COMMON */
a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

button {
    border: none;
    padding: 0;
}

.container {
    width: 117rem;
    max-width: calc(100% - 4.8rem);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 20.5rem;
    line-height: 6rem;
    border-radius: 9999px;

    font-family: "Sora";
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    background: var(--btn-bgc);
    transition: 0.2s;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.section-heading {
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
    color: var(--heading-color);
}

.section-desc {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    color: var(--desc-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ===== HEADER ===== */
.header {
    padding: 3rem 0 1rem;
    background: var(--header-bgc);
}

.header-sticky {
    z-index: 1;
    position: sticky;
    top: -2rem;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Common */
.navbar__text-normal {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--header-text-color);
}

/* Navbar logo */
.navbar__logo-link {
    display: flex;
}

.navbar__logo-name {
    margin-left: 0.6rem;
    width: 5rem;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: end;
    color: #fff;
}

.navbar__logo-name::first-line {
    font-size: 1.8rem;
    font-weight: 400;
}

/* Navbar Navigation */
.navbar__nav-list {
    --bold: 700;
    --action-color: #fff;

    display: flex;
    gap: 3rem;
}

.navbar__nav-link {
    display: inline-block;
    padding: 1rem 1rem;
    text-align: center;
    transition: 0.2s;

    &:hover {
        color: var(--action-color);
        font-weight: var(--bold);
    }
}

.navbar__nav-link::before {
    content: attr(title);
    display: block;
    height: 0;
    visibility: hidden;
    font-weight: var(--bold);
    color: var(--action-color);
}

.navbar__nav-link--action {
    font-weight: var(--bold);
    color: var(--action-color);
}

.navbar__nav-link--action::before {
    content: "";
    display: inline-block;
    top: 1.5rem;
    left: -0.5rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    color: var(--action-color);
}

/* Navbar Action */
.navbar__action {
    display: flex;
    align-items: center;
}

.navbar__log-in {
    margin-right: 2.8rem;
    padding: 1rem 1rem;
    transition: 0.2s;

    &:hover {
        text-decoration: underline;
    }
}

.navbar__sign-up {
    min-width: 10.4rem;
    line-height: 4.4rem;
    font-size: 1.6rem;
}

/* ===== MAIN ===== */

/* HERO */
.hero {
    padding: 7.6rem 0 11rem;
    background: var(--hero-bgc);
}

.hero__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hero Content */
.hero__content {
    width: 44%;
}

.hero__heading {
    font-family: Sora;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem;
    letter-spacing: -0.14rem;
    color: var(--hero-heading-color);
}

.hero__desc {
    margin-top: 2.2rem;
    color: var(--hero-desc-color);
}

.hero__action {
    margin-top: 3.8rem;
    display: flex;
    align-items: center;
}

.hero__tel {
    margin-left: 1.8rem;
    font-size: 1.8rem;
    color: #fff;
    transition: 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.hero__or {
    margin-left: 1.8rem;
    font-size: 1.5rem;
    color: #fff;
}

/* Hero Media */
.hero__media {
}

.hero__figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__img {
    width: 33rem;
    height: 54rem;
    border-radius: 0.6rem;
    flex-shrink: 0;
}

.hero__img:last-child {
    width: 21rem;
    height: 41rem;
    border-radius: 0 0.6rem 0.6rem 0;
    flex-shrink: 0;
}

/* SERVICES */
.services {
    padding: 17rem 0 17rem;
    background: var(--services-bgc);
}

/* Services Heading */
.services__heading {
    text-align: center;
}

.services__desc {
    margin: 1.8rem auto 0;
    width: 46.8rem;
    text-align: center;
}

/* Services Body */
.services__body {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Figure */
.services__img {
    width: 57rem;
    height: 57rem;
    border-radius: 1.2rem;
    flex-shrink: 0;
}

/* List item */
.services__list {
    width: 47rem;
}

.services__item {
    --icon-color: #10375c;
    --icon-bgc: #eff6fd;
    --icon-hover-color: #fff;
    --icon-hover-bgc: #2e80ce;

    display: flex;
    padding: 2.1rem;
    transition: 0.2s;

    &:hover {
        position: relative;
        box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    }
}

.services__icon-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    color: var(--icon-color);
    background-color: var(--icon-bgc);
    transition: 0.2s;
}

.services__item:hover .services__icon-item {
    color: var(--icon-hover-color);
    background: var(--icon-hover-bgc);
}

.services__content-item {
    margin-left: 1.9rem;
    border-radius: 1rem;
    background: var(--services-bgc);
    transition: 0.2s;
}

.services__heading-item {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--heading-color);
}

.services__desc-item {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
    color: var(--desc-color);
}

.services__btn {
    margin-top: 5.5rem;
}

/* WORKS */
.works {
    padding: 10rem;
    background: var(--work-bgc);
}

/* Works Heading */
.works__desc {
    margin-top: 1.8rem;
    width: 46.8rem;
}

/* Works List */
.works__list {
    margin-top: 7rem;
    display: flex;
    flex-grow: 3;
    gap: 3rem;
}

.works__item {
    --item-bgc: #fff;
    --item-border-color: #eaf6ff;
    --item-border-hover-color: #2e80ce;
    --icon-color: #10375c;
    --icon-hover-color: #2e80ce;

    padding: 4.2rem;
    border: 1.6rem solid var(--item-border-color);
    border-radius: 0.4rem;
    background: var(--item-bgc);
    transition: 0.2s;

    &:hover {
        transform: translateY(-1.6rem);
        border-color: var(--item-border-hover-color);
    }
}

.works__icon {
    color: var(--icon-color);
    transition: 0.2s;
}

.works__item:hover .works__icon {
    color: var(--icon-hover-color);
}

.works__heading-item {
    margin-top: 1.8rem;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem;
    color: var(--heading-color);
}

.works__desc-item {
    margin-top: 2.8rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
    color: var(--desc-color);
}

.works__more {
    display: inline-block;
    margin-top: 1.8rem;
    margin-top: 2.8rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
    color: var(--desc-color);
    transition: 0.2s;

    &:hover {
        color: var(--icon-hover-color);
        text-decoration: underline;
    }
}
/* ABOUT */
.about {
    padding: 17rem;
    background: var(--about-bgc);
}

.about__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* About Media */
.about__media {
    position: relative;
    padding: 0 5.8rem 12.1rem 0;
}

.about__img {
    border-radius: 0.6rem;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img:first-child {
    width: 51.2rem;
    height: 37rem;
    flex-shrink: 0;
}

.about__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33.2rem;
    height: 37rem;
    flex-shrink: 0;
}

/* About Content */
.about__content {
    padding-left: 13rem;
}

.about__desc {
    margin-top: 1.8rem;
}

.about__btn {
    margin-top: 3.8rem;
}

/* MEMBERS */
.members {
    padding: 17rem 0;
    background: var(--members-bgc);
}

/* Member heading */
.members__wrap-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.members__heading {
    text-align: center;
}

.members__btn {
    margin-top: 3.8rem;
}

/* Member list */
.members__list {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
}

.members__item {
    --thumb-bgc: #eaf6ff;

    border-radius: 0.6rem;
    background: var(--members-bgc);
    transition: 0.2s;

    &:hover {
        box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    }
}

.members__item:hover .members__thumb-item {
    transform: scale(1.1);
}

.member__bg-item {
    padding-top: 2.8rem;
    border-radius: 0.6rem 0.6rem 0 0;
    background: var(--thumb-bgc);
    overflow: hidden;
}

.members__thumb-item {
    display: block;
    max-width: 100%;
    height: 29rem;
    transition: 0.2s;
}

.members__name {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.8rem;
    text-align: center;
    color: var(--heading-color);
    transition: 0.2s;
}

.members__doctor-link:hover .members__name {
    text-decoration: underline;
    color: #2e80ce;
}

.members__location-member {
    padding-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
}

/* Members Control Buttons */
.members__control {
    margin-top: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    border: 0.1rem solid var(--desc-color);
    border-radius: 50%;
    color: var(--desc-color);
    background: #fff;
    transition: 0.2s;

    &:hover {
        color: #fff;
        background: var(--btn-bgc);
    }
}

.members__control-btn:last-child {
    margin-left: 1.8rem;
}

/* INSTALL */
.install {
    padding: 9.5rem;
}

.install__inner {
    padding: 0 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: var(--btn-bgc);
}

/* Install Media */
.install__mobile-app-img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
}

/* Install Content */
.install__content {
    margin-left: 16rem;
}

.install__heading {
    color: #fff;
}

.install__desc {
    margin-top: 1.8rem;
    color: #fff;
}

.install__mobile-app {
    margin-top: 3.8rem;
}

.install__mobile-app-btn {
    color: #fff;
    background: var(--btn-bgc);
    border-radius: 0.8rem;
    transition: 0.2s;

    &:hover {
        color: var(--btn-bgc);
        background-color: #fff;
    }
}

.install__molibe-app-link:last-child {
    margin-left: 2.8rem;
}

/* NEWS */
.news {
    padding: 17rem 0;
    background: var(--news-bgc);
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* News Content */
.news__content {
    flex-shrink: 0;
}

.news__more {
    display: inline-block;
    margin-top: 2.8rem;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.8rem;
    transition: 0.2s;

    &:hover {
        color: var(--btn-bgc);
        text-decoration-line: underline;
    }
}

.news__control {
    margin-top: 2.8rem;
    display: flex;
    align-items: center;
}

.news__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    border: 0.1rem solid var(--desc-color);
    border-radius: 50%;
    color: var(--desc-color);
    background: #fff;
    transition: 0.2s;

    &:hover {
        color: #fff;
        background: var(--btn-bgc);
    }
}

.news__control-btn:last-child {
    margin-left: 1.6rem;
}

/* News List */
.news__list {
    padding-left: 13rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.news__item {
    border-radius: 1.2rem;
    border: 0.1rem solid #e8ebee;
    background: #fff;
}

.news__wrap-thumb {
    border-radius: 1.2rem 1.2rem 0 0;
    overflow: hidden;
}

.news__thumb-item {
}

.news__body-item {
    padding: 2rem;
}

.news__heading-item {
    --line-clamp: 2;

    font-weight: 600;
    line-height: 2.6rem;
    color: var(--heading-color);
    transition: 0.2s;

    &:hover {
        color: var(--btn-bgc);
    }
}

.news__desc-item {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.4rem;
    color: var(--desc-color);
}

.news__learn-more-item {
    display: inline-block;
    margin-top: 1.2rem;
    font-size: 1.4rem;
    color: var(--heading-color);
    transition: 0.2s;

    &:hover {
        color: var(--btn-bgc);
        text-decoration: underline;
    }
}
